In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import sklearn

In [2]:
#loading our data files in pandas dataframe
raw_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('test.csv')

raw_df

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,DRIRC89L0T,18,137576,209136,846,26,2,10.47,60,0.81,High School,Self-employed,Single,Yes,No,Business,No,0
1,TS0FIUNHNU,47,57194,5970,748,30,2,19.72,36,0.73,High School,Unemployed,Divorced,No,Yes,Education,No,0
2,I0YR284A1V,26,84328,95065,453,7,2,24.25,12,0.45,Master's,Self-employed,Married,No,No,Other,Yes,0
3,WB1T7NQV8A,53,49795,229582,533,107,3,14.44,60,0.17,Bachelor's,Self-employed,Single,Yes,No,Auto,Yes,1
4,J6GU9M4G1Z,49,115450,22072,840,0,4,24.48,12,0.11,Bachelor's,Part-time,Single,No,Yes,Education,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204272,KYS1HKNGGE,40,116623,161673,651,79,2,23.44,12,0.87,Bachelor's,Part-time,Divorced,No,No,Home,Yes,0
204273,5MAOH3AOZO,67,62958,189499,460,77,3,9.29,36,0.11,Bachelor's,Self-employed,Single,No,No,Business,Yes,0
204274,5Y9Z6NW29X,62,34372,59645,524,94,3,9.72,60,0.24,PhD,Full-time,Single,Yes,No,Auto,No,0
204275,O51974F566,44,146262,198454,489,7,4,4.31,48,0.30,High School,Self-employed,Married,Yes,No,Home,No,0
204276,SVGAIO53ZK,36,97844,188593,542,2,3,23.14,24,0.83,Bachelor's,Part-time,Divorced,No,No,Home,No,1

In [4]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204277 entries, 0 to 204276
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   LoanID          204277 non-null  object
 1   Age             204277 non-null  int64
 2   Income          204277 non-null  int64
 3   LoanAmount      204277 non-null  int64
 4   CreditScore     204277 non-null  int64
 5   MonthsEmployed  204277 non-null  int64
 6   NumCreditLines  204277 non-null  int64
 7   InterestRate    204277 non-null  float64
 8   LoanTerm        204277 non-null  int64
 9   DTIRatio        204277 non-null  float64
 10  Education       204277 non-null  object
 11  EmploymentType  204277 non-null  object
 12  MaritalStatus   204277 non-null  object
 13  HasMortgage     204277 non-null  object
 14  HasDependents   204277 non-null  object
 15  LoanPurpose     204277 non-null  object
 16  HasCoSigner     204277 non-null  object
 17  Default         204277 non-null  int64
dtypes: float64(2), int64(8), object(8)
memory usage: 28.1+ MB

In [ ]:
# now lets create our training set and validation set
from sklearn.model_selection import train_test_split

X = raw_df.drop('')